* {
    margin: 3px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header {
    width: 330px;
    height: 100px;
    color: aliceblue;

}

 h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 17px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    
}

input {
    width: 70px;
    height: 25px;
}


#bloco-formulas {
    width: 320px;
    color: aliceblue;

}

#formula{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 270px;
    background-color: black;
    padding: 10px;
    margin: 10px;
}

#resposta, .resposta2, .resposta3, .resposta4, .resposta5 {
    font-size: 20px;
}
